{% extends "layout.html" %}

{% block header %}
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="display-2 text-light font-weight-bold">{{ this.date }}</h1>
                    <br>
                    <br>
                    <h2 class="display-3 text-light">
                        <a href="{{ this.place }}" target="_blank">Villa Cenci</a>
                        - Cisternino - Italie
                    </h2>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

<!-- https://startbootstrap.com/snippets -->

{% block body %}

    <section class="py-5">
        <div class="container">
            <div class="row">
                {% include "gp-plot.html" %}
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 py-2 text-justify">
                    <h2 class="font-weight-light py-2">Comment qu'on vient?</h2>
                    <p>
                        La magnifique Villa Cenci se situe à une <b>petite heure de route de Bari</b>. Donc le plus
                        simple pour venir est de <b>prendre un avion qui atterrit à Bari, louer une voiture à
                                                    l'aéroport</b> et, tadaaaaa! Une heure plus tard, vous voici arrivés
                        🎉
                    </p>
                    <p>Evidemment, vous pouvez choisir de venir directement en voiture depuis votre lieu de
                       résidence, ou encore en pédalo, ce qui vous garantira à la fois un magnifique panorama le long
                       de la côte, ainsi que des mollets d'acier, ce qui n'est jamais inutile 🚣
                    </p>
                    <p>Enfin, si le temps n'est vraiment pas un problème pour vous, vous pouvez venir à pied -- mais
                       honnêtement on vous le déconseille 🤷‍♂️
                    </p>
                    <p>
                        Vous cherchez un <b>covoiturage depuis l'aéroport de Bari ou des colocs pour une chambre sur
                                            place?</b> Relax Max! On vous a mis un petit
                        <a href="{{ 'accomodations'|url }}">forum en bas de cette page</a>
                        pour vous coordonner 👌
                    </p>
                </div>
                <div class="col-lg-8 py-2 text-right">
                    <h2 class="font-weight-light py-2">Où que ça se passe exactement?</h2>
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d193517.32696645902!2d17.437608!3d40.724439000000004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf9d2c85fc76d4ab!2sRelais%20Masseria%20Villa%20Cenci!5e0!3m2!1sfr!2sus!4v1606586485096!5m2!1sfr!2sus"
                                width="600" height="500" frameborder="0" style="border:0;" allowfullscreen=""
                                aria-hidden="false" tabindex="0"
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 alternate-row">
        <div class="container">
            <div class="row">
                <div class="col-md-6 py-2 text-center">
                    <img src="{{ '/static/images/sleepy2.jpeg'|asseturl }}" class="img-circle" width="280" height="280"
                         style="object-fit: cover; border-radius:50%" alt="I need some sleep..."
                    >
                </div>
                <div class="col-md-6 py-5 text-right">
                    <a href="{{ 'accomodations'|url }}">
                        <h2 class="font-weight-light">Où qu'on dort?</h2>
                    </a>
                    <p>
                        Une
                        <a href="{{ 'accomodations'|url }}">petite liste des nids d'amour</a>
                        disponibles dans les alentours de la Villa, et un forum pour organiser covoiturages, colocations
                        ou, tout simplement, troller tout le monde.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 py-5">
                    <a href="{{ 'schedule'|url }}">
                        <h2 class="font-weight-light">Demandez le programme!</h2>
                    </a>
                    <p>
                        <a href="{{ 'schedule'|url }}">La liste des festivités,</a>
                        et un forum pour contribuer à la playlist du mariage 🥂 Ça va être bien, ça va être très très
                        bien même!
                    </p>
                </div>
                <div class="col-md-6 py-2 text-center">
                    <img src="{{ '/static/images/schedule.jpeg'|asseturl }}" class="img-circle" width="280" height="280"
                         style="object-fit: cover; border-radius:50%" alt="Demandez le programme!"
                    >
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 alternate-row">
        <div class="container">
            <div class="row">
                <div class="col-md-6 py-2 text-center">
                    <img src="{{ '/static/images/us-and-mellow.jpeg'|asseturl }}" class="img-circle" width="280" height="280"
                         style="object-fit: cover; border-radius:50%" alt="I need some sleep..."
                    >
                </div>
                <div class="col-md-6 py-5 text-right">
                    <a href="{{ 'wedding-list'|url }}">
                        <h2 class="font-weight-light">Ces messires, qu'est-ce qui leur ferait plaisir?</h2>
                    </a>
                    <p>
                        Ça vous fait plaisir de
                        <a href="{{ 'wedding-list'|url }}">nous faire plaisir</a>
                        ? Alors ça ça nous fait plaisir!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="font-weight-light">Comment être au sommet des nouvelles?</h2>
                    <p>
                        Comme on sait que vous n'êtes pas les plus futés, <b>nous ferons toutes les annonces à un seul
                                                                             endroit</b>: par
                        email, via la mailing list ici présente -- oui, le "courriel d'infolettre" si vous préférez le
                        <a href="https://www.je-parle-quebecois.com/lexique/definition/courriel.html" target="_blank">
                            québequois
                        </a>
                        .
                    </p>
                    <p>
                        Bref, <b>entrez votre adresse mail préférée et votre petit nom dans le formulaire</b>, et boum:
                        vous recevrez toutes les infos où il faut, quand il faut, sans rien avoir à faire -- vous
                        viendrez pas dire qu'on prend pas soin de vous après!
                    </p>
                </div>
                <div class="col-md-4 pt-5">
                    <!-- Begin Mailchimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="https://gmail.us7.list-manage.com/subscribe/post?u=543a7432b2fe798301196e693&amp;id=183e0eb4d7"
                              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                              class="validate"
                              target="_blank" novalidate
                        >
                            <div id="mc_embed_signup_scroll">
                                <div class="form-group mc-field-group">
                                    <label class="sr-only" for="mce-EMAIL">Ton adresse de courriel</label>
                                    <input type="email" value="" name="EMAIL"
                                           class="form-control required email text-right" id="mce-EMAIL"
                                           aria-describedby="emailHelp" placeholder="Ton adresse de courriel"
                                    >
                                </div>
                                <div class="form-group mc-field-group">
                                    <label class="sr-only" for="mce-NAME">Ton doux nom</label>
                                    <input type="text" value="" name="NAME" class="form-control required text-right"
                                           id="mce-NAME"
                                           placeholder="Ton doux nom"
                                    >
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                                          name="b_543a7432b2fe798301196e693_183e0eb4d7"
                                                                                                          tabindex="-1"
                                                                                                          value=""
                                ></div>
                                <div class="clear text-right"><input type="submit" value="Tout savoir!" name="subscribe"
                                                                     id="mc-embedded-subscribe" class="btn btn-primary"
                                ></div>
                            </div>
                        </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'
                    ></script>
                    <script type='text/javascript'>(function ($) {
                        window.fnames = new Array();
                        window.ftypes = new Array();
                        fnames[0] = 'EMAIL';
                        ftypes[0] = 'email';
                        fnames[2] = 'NAME';
                        ftypes[2] = 'text';
                        /*
                         * Translated default messages for the $ validation plugin.
                         * Locale: FR
                         */
                        $.extend($.validator.messages, {
                            required: "Ce champ est requis.",
                            remote: "Veuillez remplir ce champ pour continuer.",
                            email: "Veuillez entrer une adresse email valide.",
                            url: "Veuillez entrer une URL valide.",
                            date: "Veuillez entrer une date valide.",
                            dateISO: "Veuillez entrer une date valide (ISO).",
                            number: "Veuillez entrer un nombre valide.",
                            digits: "Veuillez entrer (seulement) une valeur numérique.",
                            creditcard: "Veuillez entrer un numéro de carte de crédit valide.",
                            equalTo: "Veuillez entrer une nouvelle fois la même valeur.",
                            accept: "Veuillez entrer une valeur avec une extension valide.",
                            maxlength: $.validator.format("Veuillez ne pas entrer plus de {0} caractères."),
                            minlength: $.validator.format("Veuillez entrer au moins {0} caractères."),
                            rangelength: $.validator.format("Veuillez entrer entre {0} et {1} caractères."),
                            range: $.validator.format("Veuillez entrer une valeur entre {0} et {1}."),
                            max: $.validator.format("Veuillez entrer une valeur inférieure ou égale à {0}."),
                            min: $.validator.format("Veuillez entrer une valeur supérieure ou égale à {0}.")
                        });
                    }(jQuery));
                    var $mcj = jQuery.noConflict(true);</script>
                    <!--End mc_embed_signup-->
                </div>
            </div>
        </div>
    </section>

{% endblock %}
