{% extends "layout.html" %}

{% block title %}Liste de mariage{% endblock %}
{% block og_description %}Découvrez notre liste de mariage!{% endblock %}

{% block header %}
    <header>
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 pt-5 text-center">
                    <h1 class="display-2 font-weight-bold">Ce qui nous ferait plaisir 🎁️</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <iframe src="https://giphy.com/embed/aq2VYIVBqYsFE3khoC" width="480" height="400" frameBorder="0"
                            class="giphy-embed" allowFullScreen
                    ></iframe>
                </div>
                <div class="col-lg-6 py-5">
                    <div class="container text-justify">
                        <p>
                            Après une année 2020 enfermée et sédentaire, on a bien envie de voyager! Et comme on est des
                            vrais aventuriers, on a décidé de partir avec notre tente Quechua et notre sac à dos pour un
                            voyage en immersion totale à Bora-Bora!
                        </p>
                        <p>
                            Mais comme disait Jules César, "le rhum ne se fait pas en un jour!". Donc cela nous ferait
                            très plaisir que vous nous donniez un petit coup de pouce pour financer notre voyage "roots"
                            dans les îles du Pacifique 🏝️
                        </p>
                        <p>
                            Promis, on vous rapportera un petit bout de terre, ou une pierre arrachée aux sommets que
                            nous avons prévu d'escalader. Et quand on y réfléchit, en nous offrant ce cadeau, c'est un
                            peu comme si vous voyagiez avec nous -- et ça, ça n'a pas de prix 🤩
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p-1">
        <div class="container text-center">
            <h2 class="font-weight-light pb-3">🚧 Work in Progress 🚧</h2>
        </div>
        <div class="container text-justify px-5">
            <p>
                Pas de panique, c'est très simple! Vous n'avez qu'à
                <a href="#">cliquer sur ce lien</a>
                , choisir ce que vous préférez nous offrir, et payer directement sur le site -- et hop, ni vu, ni vu!
            </p>
        </div>
    </section>

{% endblock %}

